<!DOCTYPE html>
<html lang="en">
    <%- include('partials/common/head.ejs') %>
<body>
    <div id="site-content">	
        <%- include('partials/common/header.ejs') %>
        
            <%- include('partials/about/aboutmain.ejs') %>
        

        <%- include('partials/common/footer.ejs') %>
    </div>   
</body>
</html>